[data-aos="example-anim1"] {
  -webkit-transform: translateX(-5px) translateY(-10px);
          transform: translateX(-5px) translateY(-10px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="example-anim1"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 5;
}

[data-aos="example-anim2"] {
  -webkit-transform: translateX(5px) translateY(38px);
          transform: translateX(5px) translateY(38px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="example-anim2"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 5;
}

[data-aos="example-anim3"] {
  -webkit-transform: translateX(2px) translateY(27px);
          transform: translateX(2px) translateY(27px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="example-anim3"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 5;
}

[data-aos="example-anim4"] {
  -webkit-transform: translateX(-10px) translateY(20px);
          transform: translateX(-10px) translateY(20px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="example-anim4"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 5;
}

[data-aos="example-anim5"] {
  -webkit-transform: translateX(14px) translateY(-18px);
          transform: translateX(14px) translateY(-18px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="example-anim5"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 5;
}

[data-aos="example-anim6"] {
  -webkit-transform: translateX(5px) translateY(15px);
          transform: translateX(5px) translateY(15px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="example-anim6"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 5;
}

[data-aos="example-anim7"] {
  -webkit-transform: translateX(0px) translateY(-10px);
          transform: translateX(0px) translateY(-10px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="example-anim7"].aos-animate {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  opacity: 5;
}
/*# sourceMappingURL=aos.css.map */