@font-face {
  font-family: "Makinas-4-Flat";
  src: url("../fonts/makinas4/fontSize/Makinas-4-Flat.woff") format("woff"),
    url("../fonts/makinas4/fontSize/Makinas-4-Flat.ttf") format("truetype"),
    url("../fonts/makinas4/fontSize/Makinas-4-Flat.eot") format("embedded-opentype");
}

@font-face {
  font-family: "komorebi-gothic";
  src: url("../fonts/MODI_komorebi-gothic_2018_0501/fontSize/komorebi-gothic.woff") format("woff"),
    url("../fonts/MODI_komorebi-gothic_2018_0501/fontSize/komorebi-gothic.ttf") format("truetype"),
    url("../fonts/MODI_komorebi-gothic_2018_0501/fontSize/komorebi-gothic.eot") format("embedded-opentype");
}

@font-face {
  font-family: "Harenosora";
  src: url("../fonts/hare/fontSize/Harenosora.woff") format("woff"),
    url("../fonts/hare/fontSize/Harenosora.ttf") format("truetype"),
    url("../fonts/hare/fontSize/Harenosora.eot") format("embedded-opentype");
}

@font-face {
  font-family: "f910-shin-comic-2.04";
  src: url("../fonts/f910-shin-comic-2.04/fontSize/f910-shin-comic-2.04.woff") format("woff"),
    url("../fonts/f910-shin-comic-2.04/fontSize/f910-shin-comic-2.04.ttf") format("truetype"),
    url("../fonts/f910-shin-comic-2.04/fontSize/f910-shin-comic-2.04.eot") format("embedded-opentype");
}

@font-face {
  font-family: "GenEiKoburiMin6-R";
  src: url("../fonts/GenEiKoburiMin_v6.1/fontSize/GenEiKoburiMin6-R.woff") format("woff"),
    url("../fonts/GenEiKoburiMin_v6.1/fontSize/GenEiKoburiMin6-R.ttf") format("truetype"),
    url("../fonts/GenEiKoburiMin_v6.1/fontSize/GenEiKoburiMin6-R.eot") format("embedded-opentype");
}

@import "../bower_components/text-hover-effects/sass/css-classes";

// Aos JS
[data-aos="example-anim1"] {
  transform: translateX(-5px) translateY(-10px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: skewX(0);
    opacity: 5;
  }
}

[data-aos="example-anim2"] {
  transform: translateX(5px) translateY(38px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: skewX(0);
    opacity: 5;
  }
}

[data-aos="example-anim3"] {
  transform: translateX(2px) translateY(27px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: skewX(0);
    opacity: 5;
  }
}

[data-aos="example-anim4"] {
  transform: translateX(-10px) translateY(20px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: skewX(0);
    opacity: 5;
  }
}

[data-aos="example-anim5"] {
  transform: translateX(14px) translateY(-18px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: skewX(0);
    opacity: 5;
  }
}

[data-aos="example-anim6"] {
  transform: translateX(5px) translateY(15px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: skewX(0);
    opacity: 5;
  }
}

[data-aos="example-anim7"] {
  transform: translateX(0px) translateY(-10px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: skewX(0);
    opacity: 5;
  }
}

[data-aos="example-anim8"] {
  transform: translateX(0px) translateY(-40px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: skewX(0);
    opacity: 5;
  }
}

// Aos JS

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;

  @media (max-width:991px) {
    display: block !important;
  }

}

//991px以上不顯示Navbar
.navShow {
  display: none;

  @media (max-width: 991px) {
    display: flex;
  }

  .navbar-brand {
    .TopIcon {
      font-family: "Sawarabi Mincho", sans-serif;
    }
  }

  .navbar-collapse {
    text-align: center;

    .title_02 {
      margin-top: 20px;
      font-family: "Makinas-4-Flat";

      a {
        color: black;
        text-decoration: none;
        @include transition-opt();
        @include move-down;

      }
    }
  }
}

.bg-light {
  background-color: white !important;

  .navbar-toggler {
    border: 0px !important;

    .navbar-toggler-icon {
      background-image: url('../img/menu_btn.png') !important;
    }
  }

  .navbar-toggler:focus {
    outline: 0px !important;
  }
}


.container {

  @media (max-width: 1199px) {
    max-width: 1105px;
  }

  //mainLeft
  .mainLeft {
    margin-top: 26px;

    @media (max-width:991px) {
      display: none !important;
    }

    ul {
      list-style-type: none;
      position: fixed;

      .title_01 {
        font-family: "Sawarabi Mincho", sans-serif;

        a {
          color: black;
          text-decoration: none;
        }
      }

      .title_02 {
        margin-top: 20px;
        font-family: "Makinas-4-Flat";

        a {
          color: black;
          text-decoration: none;
          @include transition-opt();
          @include left-down;
        }
      }
    }
  }

  //mainRight
  .mainRight {

    @media (max-width:1199px) {
      padding-left: 30px;
    }

    @media (max-width:991px) {
      padding-left: 15px;
    }

    //首頁動畫
    .movie {
      margin-top: 66px;
      position: relative;

      .topTitle {
        box-sizing: border-box;
        position: absolute;
        top: -54px;
        left: 0px;
        z-index: 100;
        writing-mode: vertical-rl;

        @media (max-width:1199px) {
          // left: 378px;
        }

        .topTitle_01 {
          .topTitle_01_inner {
            font-family: "Noto Serif JP", serif;
            font-size: 3.3rem;
            line-height: 1.4;
            font-weight: 700;

            @media (max-width:414px) {
              font-size: 2.3rem;
            }
          }
        }

        .topTitle_02 {
          font-family: "Noto Serif JP", serif;
          font-size: 0.9rem;
          line-height: 2.1;

          @media (max-width:414px) {
            font-size: 0.9rem;
          }
        }
      }

      .titleImg {
        width: 800px;

        @media (max-width:1199px) {
          width: 100%;
        }
      }
    }

    //關於
    .about {
      margin-top: 70px;
      margin-bottom: 70px;

      @media (max-width:414px) {
        margin-bottom: 10px;

      }

      .aboutTitle {
        text-align: center;
        font-family: "Sawarabi Mincho", sans-serif;

        h2 {
          font-weight: 700;

        }

      }
    }

    .aboutMain {

      .aboutImage {

        @media (max-width:414px) {
          padding-left: 0px;
          margin-right: 30px;

        }

        .aboutImage_01 {

          @media (max-width: 991px) {
            justify-content: center;
          }

          .aboutImage_01_01 {

            .aboutImage_01_01img {
              width: 150px;

              @media (max-width:414px) {
                width: 100px;
              }
            }
          }

          .aboutImage_01_02 {
            .aboutImage_01_02img {
              width: 150px;

              @media (max-width:414px) {
                width: 100px;
              }
            }
          }

          .aboutImage_01_03 {
            .aboutImage_01_03img {
              width: 150px;

              @media (max-width:414px) {
                width: 100px;
              }
            }
          }
        }
      }

      .aboutContent {
        padding-left: 28px;

        @media (max-width:1199px) {
          padding-left: 50px;
        }

        @media (max-width: 991px) {
          margin-top: 50px;
          padding-left: 145px;
        }

        @media (max-width:414px) {
          margin-top: 15px;
          padding-left: 65px;
        }

        .aboutContentRow {
          width: 80%;

          @media (max-width:1199px) {
            width: 89%;
          }

          .aboutContents {
            margin-top: 16px;

            .aboutText {
              font-size: 0.9rem;
              font-family: "komorebi-gothic";

            }
          }
        }
      }
    }

    .photos {
      margin-top: 70px;

      @media (max-width:414px) {
        margin-top: 20px;
      }

      .photosTitle {
        text-align: center;

        h3 {
          font-family: "Sawarabi Mincho", sans-serif;
          margin-bottom: 30px;
          font-size: 900;
        }
      }

      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            position: relative;

            img {
              width: 100%;
            }

            // Swiper Page1
            .school03 {

              @media (max-width:414px) {
                display: none;

              }
            }

            .school03Mobile {
              display: none;

              @media (max-width:414px) {
                display: block;
              }
            }

            .title1 {
              position: absolute;
              z-index: 100;
              bottom: 124px;
              left: 17px;
              font-size: 3rem;
              font-family: "Harenosora";
              color: white;

              @media (max-width:414px) {
                font-size: 1.75rem;
                left: 5px;

              }
            }

            .subtitle1 {
              position: absolute;
              z-index: 100;
              bottom: 86px;
              left: 20px;
              font-size: 2rem;
              font-family: "Harenosora";
              color: white;

              @media (max-width:414px) {
                font-size: 1.75rem;
                left: 5px;

              }
            }

            .text1 {
              position: absolute;
              width: 300px;
              z-index: 100;
              bottom: 0px;
              left: 20px;
              font-family: "Harenosora";
              color: white;

              @media (max-width:414px) {
                font-size: 0.9rem;
                left: 7px;
                width: 320px;

              }
            }

            // Swiper Page2
            .school01 {

              @media (max-width:414px) {
                display: none;

              }
            }

            .school01Mobile {
              display: none;

              @media (max-width:414px) {
                display: block;
              }
            }

            .title2 {
              position: absolute;
              z-index: 100;
              bottom: 95px;
              left: 300px;
              font-size: 2rem;
              font-family: "Harenosora";
              color: white;

              @media (max-width:414px) {
                left: 70px;
                font-size: 1.7rem;

              }

            }

            .subtitle2 {
              position: absolute;
              z-index: 100;
              bottom: 74px;
              left: 249px;
              font-size: 1.2rem;
              font-family: "Harenosora";
              color: white;

              @media (max-width:414px) {
                left: 34px;
                font-size: 1rem;

              }

            }

            // Swiper Page3
            .school02 {

              @media (max-width:414px) {
                display: none;

              }
            }

            .school02Mobile {
              display: none;

              @media (max-width:414px) {
                display: block;
              }
            }

            .content3 {
              box-sizing: border-box;
              top: -54px;
              left: 0px;
              z-index: 100;
              writing-mode: vertical-rl;

              .title3 {
                position: absolute;
                height: 280px;
                z-index: 100;
                bottom: 150px;
                right: 30px;
                color: white;
                font-family: "Noto Serif JP", serif;
                font-size: 3.3rem;
                line-height: 1.4;
                font-weight: 700;

                @media (max-width:414px) {
                  right: 5px;

                }
              }

              .subtitle3 {
                position: absolute;
                line-height: 1.5;
                height: 240px;
                z-index: 100;
                bottom: 140px;
                right: 93px;
                font-size: 1.3rem;
                letter-spacing: 2px;
                font-family: "Noto Serif JP", serif;
                color: white;

                @media (max-width:414px) {
                  right: 68px;

                }
              }
            }


            .text3 {
              position: absolute;
              width: 400px;
              z-index: 100;
              bottom: 0px;
              left: 20px;
              font-size: 0.9rem;
              font-family: "Harenosora";
              color: white;

              @media (max-width:414px) {
                width: 320px;
                left: 10px;

              }
            }

            // Swiper Page4
            .school04 {

              @media (max-width:414px) {
                display: none;

              }
            }

            .school04Mobile {
              display: none;

              @media (max-width:414px) {
                display: block;
              }
            }

            .title4 {
              position: absolute;
              z-index: 100;
              bottom: 124px;
              left: 17px;
              font-size: 3rem;
              font-family: "Harenosora";
              color: white;

              @media (max-width:414px) {
                font-size: 3rem;
                left: 5px;
                bottom: 170px;

              }
            }

            .text4 {
              position: absolute;
              width: 500px;
              z-index: 100;
              bottom: 0px;
              font-size: 0.9rem;
              left: 20px;
              font-family: "Harenosora";
              color: white;

              @media (max-width:414px) {
                font-size: 0.9rem;
                left: 10px;
                width: 320px;
                bottom: -10px;
              }
            }
          }
        }
      }
    }

    .newsTitle {
      margin-top: 100px;
      position: relative;

      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
      }

      @media (max-width:414px) {
        margin-top: 40px;
      }

      .newsText {
        position: absolute;
        bottom: -24px;
        z-index: 100;
        font-family: "Harenosora";

        @media (max-width: 768px) {
          display: none;
        }
      }

      .newsText2 {
        display: none;

        @media (max-width: 768px) {
          z-index: 100;
          font-family: "Harenosora";
          display: block;
        }
      }
    }

    .blog-slider {
      margin-top: 10px;
      padding-left: 65px;

      @media (max-width: 768px) {
        margin-top: 200px;
        margin-bottom: 0px;
      }

      @media (max-width:414px) {
        margin-top: 150px;
      }

      .blog-slider__wrp {

        @media (max-width:414px) {
          right: 18px;
        }
      }
    }

    .qna {

      .qnaTitle_Flex {
        .qnaTitle {
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.2;
          font-family: "Sawarabi Mincho", sans-serif;
          margin-top: 90px;
          margin-bottom: 50px;
        }
      }


      .question {
        justify-content: center;
        padding-left: 12%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "GenEiKoburiMin6-R";
        font-size: 0.9rem;

        @media (max-width:414px) {
          padding-left: 0px;
          font-size: 0.8rem;

        }


        .questionTitle {
          max-width: 20%;
          font-weight: bold;

          @media (max-width:414px) {
            max-width: 50%;
          }
        }

        .questionText {
          padding-right: 0px;

          @media (max-width:414px) {
            padding-left: 0px;

          }
        }
      }

      .address {
        justify-content: center;
        padding-left: 7.4%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "GenEiKoburiMin6-R";
        font-size: 0.9rem;

        @media (max-width:414px) {
          padding-left: 0px;
          font-size: 0.8rem;

        }

        .addressTitle {
          max-width: 20%;
          font-weight: bold;

          @media (max-width:414px) {
            max-width: 32%;
            padding-left: 11px;
          }
        }

        .addressText {
          padding-left: 6px;

          @media (max-width:414px) {
            padding-left: 0px;

          }
        }
      }

      .goto {
        justify-content: center;
        padding-left: 16%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "GenEiKoburiMin6-R";
        font-size: 0.9rem;

        @media (max-width:414px) {
          padding-left: 0px;
          font-size: 0.8rem;
          margin-top: 8px;

        }

        .gotoTitle {
          max-width: 20%;
          font-weight: bold;

          @media (max-width:414px) {
            max-width: 25%;
          }
        }

        .gotoText {
          padding-right: 0px;
          padding-left: 20px;

          @media (max-width:414px) {
            padding-left: 30px;

          }
        }
      }
    }
  }
}



//